<div class="col-sm-3 mb-1 book-card">
<a href="./book/{{id}}">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-title">By: {{author}}</h6>
            <p class="card-text">Rating: {{rating}}/5</p>
            <p class="card-text">{{genre}}</p>
            <h6 class="card-title">Stock: {{stockCount}}</h6>
        </div>
    </div>
</a>
</div>