<header class="display-flex justify-space-between align-center p-2">
  <h1>My Bookshelf</h1>
</header>
<main class="mbs-body">
  <div id="mbs-user-info">
    <h2 class="mbs-header">User Information</h2>
    <p>{{username}}</p>
    <p><button>Update name</button></p>
    <p><button>Update password</button></p>
    <p>Available Books #{{availableCount}}
      ({{donatedCount}}-{{receivedCount}})</p>
  </div>

  <div id="mbs-donated-books">
    <h2 class="mbs-header">Books Donated ({{donatedCount}})</h2>
    <ul class="mbs-book-detail">
      {{#each donatedBooks as |book|}}
        <li>
          {{format_date book.created_at}}:
          <span class="mbs-book-title">{{book.title}}</span>,
          <span class="mbs-book-author">{{book.Author}}</span>
        </li>
      {{/each}}
    </ul>
  </div>

  <div id="mbs-received-books">
    <h2 class="mbs-header">Books Received ({{receivedCount}})</h2>
    <ul class="mbs-book-detail">
      {{#each receivedBooks as |book|}}
        <li>
          {{format_date book.updated_at}}:
          <span class="mbs-book-title">{{book.title}}</span>,
          <span class="mbs-book-author">{{book.Author}}</span>
        </li>
      {{/each}}
    </ul>
  </div>

  <div id="mbs-rankings">
    <h2 class="mbs-header">Ranking Data</h2>
    {{#each rankings as |ranking|}}
      <p>{{ranking.info}}</p>
    {{/each}}
  </div>
</main>